<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  </head>

  <body>
   <section class="app"></section>
    <!--SCRIPTS-->
    <script src="/browserify/debug.0.0.1.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
